/bootstrap/compiled.php
/app/assets/stylesheets/bootstrap-theme.css
/app/assets/stylesheets/bootstrap.css
/app/assets/javascripts/jquery.js
/app/config/local
/vendor
composer.phar
composer.lock
.DS_Store
Thumbs.db