 .container { 
 	padding-top: 70px;
 	padding-bottom: 70px;
 }

 #forum_reply_textarea {
 	width: 100%;
 }

 #forum_reply_text {
 	width: 50%;
 }

 .post {
	width: 75%;
 }

 .post-data {
 	width: 25%;
 }

 .post-title .post-content {
	width: 100%;
 }